@model HomeManager.Areas.PcBuilds.Models.GraphicsCard

@section Banner {
    @*... contents of the banner specific to that view*@
    <div class="eightbit-header-graphics-card eightbit-header">
        <img class="website-header-img" src="~/lib/images/graphics_card.png" alt="graphics card" />
    </div>
}

@{
    ViewData["Title"] = "Graphics Card";
}

<article class="nes-container">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="actions-container">
            <div>
                <h1>Create</h1>
            </div>
            <div class="actions-container-buttons">
                <button type="submit" class="nes-btn is-primary">Create</button>
                <a class="nes-btn" asp-action="Index">Back to List</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="nes-field">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="nes-input" />
                    <span asp-validation-for="Name" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="Manufacturer" class="control-label"></label>
                    <input asp-for="Manufacturer" class="nes-input" />
                    <span asp-validation-for="Manufacturer" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="Dimensions" class="control-label"></label>
                    <input asp-for="Dimensions" class="nes-input" />
                    <span asp-validation-for="Dimensions" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="GPU" class="control-label"></label>
                    <input asp-for="GPU" class="nes-input" />
                    <span asp-validation-for="GPU" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="GPUFrequency" class="control-label"></label>
                    <input asp-for="GPUFrequency" class="nes-input" />
                    <span asp-validation-for="GPUFrequency" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="BoostClock" class="control-label"></label>
                    <input asp-for="BoostClock" class="nes-input" />
                    <span asp-validation-for="BoostClock" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="MemoryType" class="control-label"></label>
                    <input asp-for="MemoryType" class="nes-input" />
                    <span asp-validation-for="MemoryType" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="CUDA" class="control-label"></label>
                    <input asp-for="CUDA" class="nes-input" />
                    <span asp-validation-for="CUDA" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="PSU" class="control-label"></label>
                    <input asp-for="PSU" class="nes-input" />
                    <span asp-validation-for="PSU" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="nes-input" />
                    <span asp-validation-for="Price" class="nes-text is-error"></span>
                </div>
                <div class="nes-field">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="nes-input" />
                    <span asp-validation-for="Link" class="nes-text is-error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="nes-btn">
                        <span>Select your image</span>
                        <input asp-for="ImageFile" accept="image/*" />
                    </label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
