@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P';
}

/* CUSTOM BANNERS*/
.eightbit-header-index {
    grid-template-columns: 195px auto;
    grid-gap: 100px;
}

.eightbit-header {
    display: grid;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.eightbit-header-cpu-watercooler {
    background: linear-gradient(to bottom, #1C2462 26%, #212976 35%, #262f7d 45%, #2d3586 47%, #313d91 61%, #3c49a1 65%, #4156ae 75%, #4860AE 78%, #4e6fc5 88%, #dff7ff 100% );
}

.eightbit-header-pc-configuration {
    background-color: dimgray; 
}

.eightbit-header-fan {
    background-color: dimgray; 
}

.eightbit-header-graphics-card {
    background-color: rebeccapurple;
}

.eightbit-header-hard-drive {
    background-color: yellowgreen;
}


/* Card Deck*/
.card-deck {
    margin: 0 122px;
}

.card {
    padding: 0 !important;
    min-width: 400px !important;
    max-width: 448px !important;
}

.card-footer {
    background: white;
    border: none;
    padding-top: 1px;
}


/* pages actions */
.actions-container {
    display: grid;
    grid-template-columns: auto auto;
}

.actions-container-buttons {
    justify-self: end;
}



/* Image object in edit, details and delete pages */
.image-box {
    width: max-content;
}

.edit-image-box {
    float: right;
}

.product-image {
    width: 250px;
    height: 250px;
}

/* ---------------------Layout response--------------------- */
/* mobile */
.content-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .content-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .content-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .content-container {
        max-width: 960px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .content-container {
        max-width: 1857px;
    }
}
