/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* CUSTOM BANNERS*/
.eightbit-header-index {
    grid-template-columns: 195px auto;
    grid-gap: 100px;
}

.eightbit-header-cpu-watercooler {
    display: grid;
    height: 180px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #1C2462 26%, #212976 35%, #262f7d 45%, #2d3586 47%, #313d91 61%, #3c49a1 65%, #4156ae 75%, #4860AE 78%, #4e6fc5 88%, #dff7ff 100% );
}


/* common? */

.navbar {
    background: #B4B7BA !important;
    border-bottom: 4px solid black !important;
}

.card-deck {
    margin: 0 122px;
}

.card {
    padding: 0 !important;
    min-width: 400px !important;
    max-width: 448px !important;
}

.card-footer {
    background: white;
    border: none;
    padding-top: 1px;
}

.footer {
    background-color: #838487 !important;
}
.border-top {
    border-top: 4px solid #000000 !important;
}

.actions-container {
    display: grid;
    grid-template-columns: auto auto;
}

.actions-container-buttons {
    justify-self: end;
}


/* ---------------------Layout response--------------------- */
/* mobile */
.content-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .content-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .content-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .content-container {
        max-width: 960px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .content-container {
        max-width: 1857px;
    }
}


/*colors #B4B7BA  #838487*/